body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: initial;
}

header {width: 100%;}
header h1 {
	font-weight: 500;
	text-align: center;
}

form {
	width: 40%;
}
form label {
	display: block;
	margin-bottom: 1rem;
	font-weight: normal;
}
form label input {}
form label span {font-weight: bold;}

form fieldset {margin-top: 2rem;}
form fieldset legend {font-size: inherit;}

table {}
table caption {text-align: center;color: currentColor;}
table th,
table td {
	padding: .5rem;
	border-collapse: collapse;
	border: 1px solid currentColor;
}

#search_results {}
#search_results thead,
#search_results tbody,
#search_results tr {width: 100%;}

#search_log {}

@media screen and (max-width: 998px) {
	form {width: 100%;}
}