body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: initial;
}

header {width: 100%;}
header h1 {
	font-weight: 500;
	text-align: center;
}

form {
	width: 40%;
}
form label {
	display: block;
	margin-bottom: 1rem;
	font-weight: normal;
}
form label input {}
form label span {font-weight: bold;}

main {
	width: 50%;
}
main table {
	--column-count: 8;
	--table-width: 500px;
	width: 100%;
}
main table thead,
main table tbody,
main table tr {width: 100%;}

main table th,
main table td {
	width: calc(var(--table-width) / var(--column-count));
	text-overflow: ellipsis;
	padding: .5rem;
	border-collapse: collapse;
	border: 1px solid currentColor;
}